*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	list-style: none;
	text-decoration: none;
	
	
}
img{
	max-width: 100%;
}
body{
	overflow: auto;
	max-width: 60em;
	font-size: 100%;
	margin: 0 auto;
}
h1 {
  color: #212121;
}

header h1{
	font-family: "华文行楷";
	color: #515050;
	font-size: 3.5em;
	float: left;

}

header ul li{
	float: left;
	border-left: 1px solid #c8c8c8;

}
header ul li:first-child{
	border-left: none;
}

header ul{
	overflow: auto;
	float: left;
	margin-left: 2em;
}
header ul li a{
	font-size: 1.125em;
	display: block;
	width: 10em;
	height:4em;
	line-height: 4em;
	text-align: center;
	color: #959595;

}
header img{
	
}

header hr{
	margin-top:3.5em;

}
.content{
	width: 100%;
	overflow: auto;
}
.contentLeft{
	width: 62.5%;
	float: left;
}

.contentLeft a{
	display: block;
	margin-top: 0.8em;
	font-size: 2.3em;
	 color:#343434;
}
.contentLeft img{
	margin-top:2em;
}
.contentLeft p{
	color: #363636;
  font-size: 1.3em;
  line-height: 1.4;
  margin: 1em 0px;

}
.contentLeft hr{
	margin-top: 3.5em;
}

.contentLeft ul li a{
	display: inline-block;
	float: left;
	height: 2em;
	line-height: 2em;
	color: #0836B9;
	font-size: 1em;
	padding-right: 1em;

}
.contentRight{
	width:31.25%;
	float: right;
	margin-top: 6.8em;
}
.articleRight{
	background:#2D2828;
	text-align: center;
	padding-bottom: 20px;
	padding-top:12px;
	font-size: 1em;
}
.contentRight h4{
	text-align: left;
	padding-left: 15px;
	color:#D9D5D5;
}
.contentRight img{
	margin-top: 0.5em;
}
.contentRight p{
	font-size: 1em;
	font-weight: bold;
	margin-top: 3.5em;
	color: #363636; 
}
section .pRight{
  	color: #CFC9C9;
  	font-size: 0.9em;
  	line-height: 1.2;
  	padding-left: 15px;
  	padding-right: 10px;
  	margin-top: 10px;
  	text-align: left;
}

.contentRight hr{
	margin-top: 0.8em;
}

.contentRight ul li a{
	display: block;
	height: 2em;
	line-height: 2em;
	color: #0836B9;
	text-decoration: underline;
}
footer{
	margin:5em 0px;
	text-align: center;
}
/* ===================== MEDIA QUERIES ===================== */

@media only screen and (min-width: 15em) {

body{
	font-size: 83.71%;

}
header ul{
	border-top:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;
	margin-top: 1em;
	margin-left:0;


}
header ul li{	
	border: none;
	padding-right: 0.3em;
}

header ul li a{
	width: 4.5em;
	font-size: 1.2em;
	height:1.5em;
	line-height: 1.5em;
}
header hr{
	margin-top:2em;

}
.contentRight{
	float: left;
	clear: left;
}
.contentLeft,.contentRight{
	width: 100%;
}

}
/* 
------------------------------------------- */
@media only screen and (min-width: 30em){

body{
	font-size: 83.71%;
}
header ul li{	
	border: none;
	padding-right: 2em;
}
header ul li a{
	font-size: 1.125em;
	height:3em;
	line-height: 3em;
}
.contentRight{
	float:right;
	clear: none;

}
.contentLeft{
	width: 60%
}
.contentRight{
	width:31.2%;
}

------------------------------------------- */
@media only screen and (min-width: 60em){
header ul li{
	border-left: 1px solid #c8c8c8;

}
header ul li:first-child{
	border-left: none;
}

header ul{
	margin-left: 2em;
}
header ul li a{
	width: 10em;
	height:4em;
	line-height: 4em;
}
body{
	font-size: 100%;
}

